<template>
  <div class="container">
    <table class="vitamins">
      <thead>
      <tr>
        <th>Title</th>
        <th>Address</th>
        <th>City</th>
        <th>Link</th>
        <th>Image</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <td class="paginationTable">Total: {{ totalItems }}</td>
        <td colspan="10" class="paginationTable">
          Elements per page: {{ elementsPerPage }}
          <a @click="previousPage" href="#" class="pageButton">Previous</a>
          Page: {{ page}}
          <a @click="nextPage" class="pageButton">Next</a>
        </td>
      </tr>
      </tfoot>
      <tbody>
            <tr v-for="(item, index) in items">
                <td style="width: 10%" > {{ item.title }} </td>
                <td style="width: 20%"> {{ item.address}} </td>
                <td style="width: 10%"> {{ item.city}} </td>
                <td style="width: 10%"> <a  v-bind:href="item.link" target="_blank">House link</a></td>
                <td style="width: 10%"> <img class="houseImage" v-if="item.image" v-bind:src="item.image"/>  </td>
            </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import { mapActions, mapState } from 'vuex'

export default {
  name: 'HouseGrid',
  data: () => ({
    items: [],
    loading: true,
    elementsPerPage: 10,
    page: 1,
    totalItems: 0
  }),
  computed: {
    ...mapState('houses', ['houses', 'total', 'offset', 'limit'])
  },
  watch: {
    houses: {
      handler (newVal, oldVal) {
        if (newVal !== oldVal) {
          this.fetchItems()
        }
      },
      deep: true,
    },
  },
  created () {
    this.initValues()
  },
  methods: {
    ...mapActions('houses', ['loadHouses']),
    initValues () {
      if (this.houses.length === 0) {
        this.getHouses()
      } else {
        this.fetchItems()
      }
    },
    fetchItems () {
      this.items = this.houses
      this.elementsPerPage = this.limit
      this.page = this.offset
      this.totalItems = this.total
      this.loading = false
    },
    getHouses() {
      this.loadHouses({
        limit: this.elementsPerPage,
        offset: this.page
      })
    },
    nextPage() {
        this.page++
        this.getHouses()
    },
    previousPage() {
      if (this.page > 1) {
        this.page--
        this.getHouses()
      }
    }
  },
}
</script>

<style>
  .container {
    margin: 20px;
  }

  .paginationTable {
    font-size: large;
    font-weight: bold;
  }

  .pageButton {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    padding:0px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    margin-left: 10px;
    margin-right: 10px;
  }
  .pageButton:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
  }
  .pageButton:active {
    float: end;
    top:1px;
  }

  .houseImage {
    width: 200px;
  }
</style>